* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: "cs_regular";
    src: url(../fonts/cs_regular.ttf);
}


main {
    background-color: rgb(72, 98, 243);
}

h1, h2 {
    font-family: "cs_regular";
}

h2 {
    font-size: 15px;
}